@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body{
    background-image: url('../resources/bg-overlay.png'), url("../resources/bg.jpg");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    background-attachment: fixed;
}

.displayNone{
    display: none;
}

#landingPage{
    padding: 10px;
    box-sizing: border-box;
}

header{
    height: 30vh;
    display: flex;
    align-items: end;
    justify-content: center;
    border-bottom: 1px solid #fff;
}

.diamond{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-bottom: 50px;
}

svg{
    width: 50%;
}

.landingMain{
    border-bottom: 1px solid #fff;
}

.landingMain h1{
    text-align: center;
}

.landingMain p{
    line-height: 20px;
    margin: 30px 0;
    text-align: justify;
}

.landingMain a{
    color: #fff;
    border-bottom: 1px dotted #fff;
    text-decoration: none;
    padding-bottom: 1px;
}

.landingMain a:hover{
    color: #39c7d1;
    border-color: #39c7d1;
}

nav{
    margin-top: 50px;
}

ul{
    list-style: none;
    padding: 0;
}
ul>li {
    width: 100%;
}

li button{
    width: 100%;
    background-color: transparent;
    height: 40px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

li button:hover{
    background-color: #ffffff65;
    cursor: pointer;
}

#introTab, #workTab, #aboutTab, #contactTab{
    width: auto;
    padding: 40px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #1c2023cc;
    position: relative;
}

.closeTab{
    position: absolute;
    height: 30px;
    right: 15px;
    top: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.closeTab>svg{
    width: 100%;
    height: 100%;
}

.closeTab:hover{
    transform: rotate(90deg);
}

#introTab p, #workTab p, #aboutTab p, #contactTab p{
    text-transform: none;
    letter-spacing: normal;
    line-height: 30px;
}

#introTab h1, #workTab h1, #aboutTab h1, #contactTab h1{
    border-bottom: 1px solid white;
    display: inline-block;
    padding: 10px;
    margin-top: 0;
}

video{
    width: 100%;
}

img{
    width: 100%;
}